.*
!.gitignore
*~
\#*\#
\#*
*.log
*.tmp
*.orig
GPATH
GRTAGS
GSYMS
GTAGS
mmh
makemehappy/__pycache__
doc/*.1
doc/*.html
doc/*.info
doc/*.pdf
doc/*.texi
doc-ng/build/
debian/files
debian/makemehappy.*.debhelper
debian/makemehappy.substvars
debian/makemehappy/

