Source: makemehappy
Section: devel
Priority: optional
Maintainer: Frank Terbeck <ft@bewatermyfriend.org>
Build-Depends: debhelper (>= 13),
               debhelper-compat (= 13),
               dh-python,
               python3-all,
               pandoc,
               texlive-fonts-recommended,
               texlive-latex-recommended,
               texlive-latex-extra,
               lmodern,
               texinfo
Rules-Requires-Root: no
Standards-Version: 4.6.0.1
Homepage: https://github.com/ft/makemehappy

Package: makemehappy
Architecture: all
Depends: python3-all,
         python3-logbook,
         python3-mako,
         python3-yaml,
         ${misc:Depends},
         ${python3:Depends}
Description: Module build automation
 MakeMeHappy is a tool to help automate the build process of
 loosely coupled modules against a variety of toolchains and
 target architectures. Its main use is to facilitate CI.
