#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

deb_upstream_version := $(shell echo $(DEB_VERSION) | cut -d- -f1)
deb_package = makemehappy
deb_branch = master

%:
	dh $@ --without=autotools --with=python3

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	./configure --python=/usr/bin/python3

.PHONY: .override_dh_auto_install
override_dh_auto_install:
	dh_auto_install
	install --mode=0755 -d debian/makemehappy/usr/share/zsh/vendor-completions
	install --mode=0644 _makemehappy debian/makemehappy/usr/share/zsh/vendor-completions

.PHONY: generate-orig-tarball
generate-orig-tarball:
	(set -x; pwd; f="$(deb_package)_$(deb_upstream_version).orig.tar.xz"; \
	 test -e "$$f" && exit 0; \
	 git archive --format=tar \
	              --prefix="$(deb_package)_$(deb_upstream_version)/" \
	              "$(deb_branch)" \
	 | xz -9 > "../$$f";)
